body{
background-color: gold;
margin-top: 10;
margin-bottom: 100;
margin-right: 0;
margin-left: 0;
}
.cabeçario{
background-color: gold;
background-color: ;
    color: green;
    font-size: 60px;
    margin-top: 100;
    padding: 1px;
    text-align: center;
}
.principal{
    background-color: green;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.mikasa{
    width: 300px;
    border-radius: 100%;
}
.rodape{
    background-color: gold;
    text-align: center;
    padding: 20px;
    color: green;
    font-size: 60px;
    margin-top: 100;
    display: flex;
    justify-content: space-around;

}
